@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<WebBlog.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý Danh Mục</h1>
<hr />
<p>
    <a style="float:right" asp-area="Admin" asp-controller="Categories" asp-action="Create" class="btn btn-success">New Create</a>
</p>
<table class="table table-active">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Danh Mục</th>
            <th>Trạng Thái</th>
            <th>Sắp Xếp</th>

            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CatId
                </td>
                <td>
                    <a style="text-decoration: none ;color:orange" href="/@item.Alias">@item.CatName</a>
                </td>
                <td>
                    @if (item.Published == true)
                    {
                        <span class="btn-primary badge badge-primary">Public</span>
                    }
                    else
                    {
                        <span class="btn-danger badge badge-primary">NON-Public</span>

                    }


                </td>
                <td>
                </td>

                <td>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CatId" class="btn btn-success">Edit</a>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Details" asp-route-id="@item.CatId" class="btn btn-primary">Details</a>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CatId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*PAGING HERE call*@
<div aria-label="Page navigation example">
    <ul style="float:right" class="pagination">
        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Categories" asp-action="Index"></pager>
    </ul>

</div>
@*PAGING HERE call*@